[submodule "src/chrislindsay.org/themes"]
	path = src/chrislindsay.org/themes
	url = https://github.com/vickylai/hugo-theme-introduction.git
[submodule "site/themes/introduction"]
	path = site/themes/introduction
	url = https://github.com/vickylai/hugo-theme-introduction.git
[submodule "themes/arabica"]
	path = themes/arabica
	url = https://github.com/nirocfz/arabica.git
[submodule "site/themes/arabica"]
	path = site/themes/arabica
	url = https://github.com/nirocfz/arabica.git
[submodule "site/themes/airspace"]
	path = site/themes/airspace
	url = git@github.com:themefisher/airspace-hugo.git
[submodule "themes/parsa-hugo-personal-blog-theme"]
	path = themes/parsa-hugo-personal-blog-theme
	url = https://github.com/themefisher/parsa-hugo-personal-blog-theme.git
[submodule "site/themes/parsa-hugo"]
	path = site/themes/parsa-hugo
	url = https://github.com/themefisher/parsa-hugo-personal-blog-theme.git
